<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>

    <h1 >My Todo List</h1>

    <div id = "todo-table">
        <form action="" method="post">
            <input type="text" name="item" placeholder="Add new item ..." required/>
            <button type = "submit">Add item</button>
        </form>
        
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>item 3</li>
        </ul>
    
    </div>
</body>
</html>